h3 = "Edit User: #{@user.name}"
.user-form ng-controller='UsersEditController'
  form.user-edit-form name='userForm' novalidate='' data-user-id="#{@user.id}"
    .form-group
      label for='firstName' First Name
      input.form-control name='firstName' ng-model='user.firstName' required=''
      .error ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid"
        small.error ng-show="userForm.firstName.$error.required"
          | First Name required

    .form-group
      label for='lastName' Last Name
      input.form-control name='lastName' ng-model='user.lastName' required=''
      .error ng-show="userForm.lastName.$dirty && userForm.lastName.$invalid"
        small.error ng-show="userForm.lastName.$error.required"
          | Last Name required

    .form-group
      label for='age' Age
      input.form-control type='number' name='age' ng-model='user.age' required='' ng-min='0'
      .error ng-show="userForm.age.$dirty && userForm.age.$invalid"
        small.error ng-show="userForm.age.$error.required"
          | Age required
      .error ng-show="userForm.age.$dirty && userForm.age.$invalid"
        small.error ng-show="userForm.age.$error.min"
          | Age must be postive

    .form-group
      label for='gender' Gender
      br
      |&nbsp Male &nbsp
      input type='radio' value='male' name='gender' ng-model=' user.gender'  checked='' required=''
      |&nbsp Female &nbsp
      input type='radio' value='female' name='gender' ng-model='user.gender'
      |&nbsp Others &nbsp
      input type='radio' value='others' name='gender' ng-model='user.gender'
      .error ng-show="userForm.gender.$dirty && userForm.gender.$invalid"
        small.error ng-show="userForm.gender.$error.min"
          | Gender must be postive

    .form-group
      label for='addressCountry' Country
      input.form-control name='addressCountry' ng-model='user.address.country'

    .form-group
      label for='addressAddress1' Address 1
      input.form-control name='addressAddress1' ng-model='user.address.address1'

    .form-group
      label for='addressAddress2' Address 2
      input.form-control name='addressAddress2' ng-model='user.address.address2'

    .form-group
      button.button.button-small.button-primary ng-disabled='userForm.$pristine || userForm.$invalid' ng-click='updateUserForm()' Submit