h3 User Lists

- if flash[:notice]
  .alert.alert-notice role="alert" = flash[:notice]
- if flash[:success]
  .alert.alert-success role="alert" = flash[:success]

.user-app ng-controller='UsersEditController'
  span Users Count: &nbsp
  span#user-count = @users.count
  .new-user
    = link_to 'New', new_user_path, class: 'btn btn-small btn-success', id: 'new-user-button'
  table.table.table-hover
    thead
      th User
      th Action
    tbody
      - @users.each do |user|
        tr
          td.user-name = user.name
          td
            = link_to 'Show', user_path(user), class: 'btn btn-small btn-info'
            = link_to 'Edit', '#', 'ng-click' => "emitEditUser($event, '#{user.id}')", class: 'btn btn-small btn-primary'
            = link_to 'Destroy', user_path(user), method: :delete, data: { confirm: 'You know what you are going to do?' }, class: 'btn btn-small btn-danger'
  .user-edit ng-show='renderEditUser'
    user-form