h3 New User
= form_for(@user, url: users_path, html: { role: "form" }) do |f|
  - if @user.errors.any?
    .alert.alert-danger.alert-dismissable role="alert"
      button.close type="button" data-dismiss="alert"
        span aria-hidden="true"
          | &times;
        span.sr-only
          | Close
      h4= "#{pluralize(@user.errors.count,"error")} prohibited this user from being saved:"
      ul
        - @user.errors.full_messages.each do |msg|
          li= msg

  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: 'form-control'

  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'

  .form-group
    = f.label :age
    = f.number_field :age, class: 'form-control'

  .form-group
    = f.label :gender
    | &nbsp Male: &nbsp
    = f.radio_button :gender, 'male', checked: true
    | &nbsp Female: &nbsp
    = f.radio_button :gender, 'female'
    | &nbsp Others: &nbsp
    = f.radio_button :gender, 'others'

  .form-group
    = f.label :address, class: "col-sm-2 control-label"
    .col-sm-3
      | Country:
      input type="text" name="user[address][country]" id="user_address_country"
    .col-sm-3
      | Address 1:
      input type="text" name="user[address][address_1]" id="user_address_address_1"
    .col-sm-3
      | Address 2:
      input type="text" name="user[address][address_2]" id="user_address_address_2"
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: "btn btn-primary"
