<div class="user-form">
  <h3>Edit User: {{user.name}}</h3>
  <form class="user-edit-form" data-user-id="58cbc1968c2055c99681d65a" name="userForm" novalidate="">
    <div class="form-group">
      <label for="firstName">First Name</label><input class="form-control" name="firstName" ng-model="user.firstName" required="" />
      <div class="error" ng-show="userForm.firstName.$dirty &amp;&amp; userForm.firstName.$invalid"><small class="error" ng-show="userForm.firstName.$error.required">First Name required</small></div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label><input class="form-control" name="lastName" ng-model="user.lastName" required="" />
      <div class="error" ng-show="userForm.lastName.$dirty &amp;&amp; userForm.lastName.$invalid"><small class="error" ng-show="userForm.lastName.$error.required">Last Name required</small></div>
    </div>
    <div class="form-group">
      <label for="age">Age</label><input class="form-control" name="age" ng-min="0" ng-model="user.age" required="" type="number" />
      <div class="error" ng-show="userForm.age.$dirty &amp;&amp; userForm.age.$invalid"><small class="error" ng-show="userForm.age.$error.required">Age required</small></div>
      <div class="error" ng-show="userForm.age.$dirty &amp;&amp; userForm.age.$invalid"><small class="error" ng-show="userForm.age.$error.min">Age must be postive</small></div>
    </div>
    <div class="form-group">
      <label for="gender">Gender</label><br />&nbsp Male &nbsp<input checked="" name="gender" ng-model=" user.gender" required="" type="radio" value="male" />&nbsp Female &nbsp<input name="gender" ng-model="user.gender" type="radio" value="female" />&nbsp Others &nbsp<input name="gender" ng-model="user.gender" type="radio" value="others" />
      <div class="error" ng-show="userForm.gender.$dirty &amp;&amp; userForm.gender.$invalid"><small class="error" ng-show="userForm.gender.$error.min">Gender must be postive</small></div>
    </div>
    <div class="form-group"><label for="addressCountry">Country</label><input class="form-control" name="addressCountry" ng-model="user.address.country" /></div>
    <div class="form-group"><label for="addressAddress1">Address 1</label><input class="form-control" name="addressAddress1" ng-model="user.address.address1" /></div>
    <div class="form-group"><label for="addressAddress2">Address 2</label><input class="form-control" name="addressAddress2" ng-model="user.address.address2" /></div>
    <div class="form-group"><button class="button button-small button-primary" ng-click="updateUserForm()" ng-disabled="userForm.$pristine || userForm.$invalid">Submit</button></div>
  </form>
</div>